In [5]:
import gc
import json
import pandas as pd
import numpy as np
import seaborn as sns

from chinese_calendar import is_holiday
from tqdm import tqdm_notebook
from utils import FlattenDataSimple, loadJSON, loadpkl

%matplotlib inline

In [2]:
# load csv
profiles = pd.read_csv('../input/data_set_phase1/profiles.csv')
test_plans = pd.read_csv('../input/data_set_phase1/test_plans.csv')
test_queries = pd.read_csv('../input/data_set_phase1/test_queries.csv')
train_clicks = pd.read_csv('../input/data_set_phase1/train_clicks.csv')
train_plans = pd.read_csv('../input/data_set_phase1/train_plans.csv')
train_queries = pd.read_csv('../input/data_set_phase1/train_queries.csv')

In [3]:
# merge click
train_plans = pd.merge(train_plans, train_clicks[['sid','click_mode']], on='sid', how='left')

# fill na (no click)
train_plans['click_mode'].fillna(0, inplace=True)

# set test target as nan
test_plans['click_mode'] = np.nan

# merge train & test
plans = train_plans.append(test_plans)

del train_plans, test_plans
gc.collect()

# reset index
plans.reset_index(inplace=True,drop=True)

# convert json
for key in tqdm_notebook(['distance', 'price', 'eta', 'transport_mode']):
    plans[key] = plans.plans.apply(lambda x: loadJSON(x,key))

# flatten
plans_df = [FlattenDataSimple(plans, key) for key in tqdm_notebook(['distance', 'price', 'eta', 'transport_mode'])]
plans_df = pd.concat(plans_df,axis=1)

# merge plan_time & click_mode
plans_df = pd.merge(plans_df.reset_index(), plans[['sid','plan_time', 'click_mode']], on='sid',how='outer')

# cleaning
for c in plans_df.columns.to_list():
    if 'price' in c:
        plans_df[c] = plans_df[c].replace('',0)

plans_df['plan_time'] = pd.to_datetime(plans_df['plan_time'])

HBox(children=(IntProgress(value=0, max=4), HTML(value='')))

HBox(children=(IntProgress(value=0, max=4), HTML(value='')))

In [4]:
cols_distance = ['plan_{}_distance'.format(i) for i in range(0,7)]
cols_price = ['plan_{}_price'.format(i) for i in range(0,7)]
cols_eta = ['plan_{}_eta'.format(i) for i in range(0,7)]
cols_transport_mode = ['plan_{}_transport_mode'.format(i) for i in range(0,7)]

In [5]:
plans_df.head()

,sid,plan_0_distance,plan_1_distance,plan_2_distance,plan_3_distance,plan_4_distance,plan_5_distance,plan_6_distance,plan_0_price,plan_1_price,...,plan_6_eta,plan_0_transport_mode,plan_1_transport_mode,plan_2_transport_mode,plan_3_transport_mode,plan_4_transport_mode,plan_5_transport_mode,plan_6_transport_mode,plan_time,click_mode
0,1709112,32303,33678.0,33678.0,32099.0,30446.0,NaN,NaN,600,0.0,...,NaN,9,3.0,4.0,2.0,1.0,NaN,NaN,2018-11-04 11:45:04,9.0
1,3327773,3427,3251.0,3251.0,3227.0,3227.0,NaN,NaN,300,0.0,...,NaN,2,3.0,4.0,6.0,5.0,NaN,NaN,2018-10-16 19:09:29,2.0
2,3285959,36234,29545.0,29545.0,33295.0,NaN,NaN,NaN,1100,0.0,...,NaN,7,3.0,4.0,1.0,NaN,NaN,NaN,2018-11-25 15:05:22,7.0
3,1616170,11450,9100.0,10870.0,10870.0,11722.0,NaN,NaN,400,0.0,...,NaN,2,6.0,3.0,4.0,7.0,NaN,NaN,2018-10-03 14:42:40,2.0
4,351369,18495,19111.0,19111.0,17117.0,NaN,NaN,NaN,600,0.0,...,NaN,7,3.0,4.0,1.0,NaN,NaN,NaN,2018-10-05 19:52:37,4.0

In [6]:
profiles.head()

,pid,p0,p1,p2,p3,p4,p5,p6,p7,p8,...,p56,p57,p58,p59,p60,p61,p62,p63,p64,p65
0,196356,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,204083,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
2,170667,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,115511,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,129719,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [3]:
# merge click
train_queries = pd.merge(train_queries, train_clicks[['sid','click_mode']], on='sid', how='left')

# fill na (no click)
train_queries['click_mode'].fillna(0, inplace=True)

# set test target as nan
test_queries['click_mode'] = np.nan

# merge train & test
queries_df = train_queries.append(test_queries)

del train_queries, test_queries
gc.collect()

# to datetime
queries_df['req_time'] = pd.to_datetime(queries_df['req_time'])

# features distance
queries_df['x_o']=queries_df['o'].apply(lambda x: x.split(',')[0]).astype(float)
queries_df['y_o']=queries_df['o'].apply(lambda x: x.split(',')[1]).astype(float)
queries_df['x_d']=queries_df['d'].apply(lambda x: x.split(',')[0]).astype(float)
queries_df['y_d']=queries_df['d'].apply(lambda x: x.split(',')[1]).astype(float)

queries_df['queries_o_count']=queries_df['o'].map(queries_df['o'].value_counts())
queries_df['queries_d_count']=queries_df['d'].map(queries_df['d'].value_counts())

queries_df['queries_x_o_count']=queries_df['x_o'].map(queries_df['x_o'].value_counts())
queries_df['queries_y_o_count']=queries_df['y_o'].map(queries_df['y_o'].value_counts())
queries_df['queries_x_d_count']=queries_df['x_d'].map(queries_df['x_d'].value_counts())
queries_df['queries_y_d_count']=queries_df['y_d'].map(queries_df['y_d'].value_counts())

queries_df['queries_distance'] = np.sqrt((queries_df['x_o']-queries_df['x_d'])**2 + (queries_df['y_o']-queries_df['y_d'])**2)

queries_df['o_d'] = queries_df['o'].astype(str)+'_'+queries_df['d'].astype(str)
queries_df['queries_o_d_count'] = queries_df['o_d'].map(queries_df['o_d'].value_counts())

# datetime features
queries_df['queries_weekday'] = queries_df['req_time'].dt.weekday
queries_df['queries_hour'] = queries_df['req_time'].dt.hour
queries_df['queries_is_holiday'] = queries_df['req_time'].apply(lambda x: is_holiday(x)).astype(int)

queries_df['queries_weekday_count'] = queries_df['queries_weekday'].map(queries_df['queries_weekday'].value_counts())
queries_df['queries_hour_count'] = queries_df['queries_hour'].map(queries_df['queries_hour'].value_counts())

In [9]:
queries_df['o_d_is_holiday'] = queries_df['queries_is_holiday'].astype(str)+'_'+queries_df['o_d']
queries_df['o_d_weekday'] = queries_df['queries_weekday'].astype(str)+'_'+queries_df['o_d']
queries_df['o_d_hour'] = queries_df['queries_hour'].astype(str)+'_'+queries_df['o_d']

queries_df['o_is_holiday'] = queries_df['queries_is_holiday'].astype(str)+'_'+queries_df['o']
queries_df['o_weekday'] = queries_df['queries_weekday'].astype(str)+'_'+queries_df['o']
queries_df['o_hour'] = queries_df['queries_hour'].astype(str)+'_'+queries_df['o']

queries_df['d_is_holiday'] = queries_df['queries_is_holiday'].astype(str)+'_'+queries_df['d']
queries_df['d_weekday'] = queries_df['queries_weekday'].astype(str)+'_'+queries_df['d']
queries_df['d_hour'] = queries_df['queries_hour'].astype(str)+'_'+queries_df['d']

queries_df['queries_o_d_is_holiday_count'] = queries_df['o_d_is_holiday'].map(queries_df['o_d_is_holiday'].value_counts())
queries_df['queries_o_d_weekday_count'] = queries_df['o_d_weekday'].map(queries_df['o_d_weekday'].value_counts())
queries_df['queries_o_d_hour_count'] = queries_df['o_d_hour'].map(queries_df['o_d_hour'].value_counts())

queries_df['queries_o_is_holiday_count'] = queries_df['o_d_is_holiday'].map(queries_df['o_d_is_holiday'].value_counts())
queries_df['queries_o_weekday_count'] = queries_df['o_d_weekday'].map(queries_df['o_d_weekday'].value_counts())
queries_df['queries_o_hour_count'] = queries_df['o_d_hour'].map(queries_df['o_d_hour'].value_counts())

queries_df['queries_o_d_is_holiday_count'] = queries_df['o_d_is_holiday'].map(queries_df['o_d_is_holiday'].value_counts())
queries_df['queries_o_d_weekday_count'] = queries_df['o_d_weekday'].map(queries_df['o_d_weekday'].value_counts())
queries_df['queries_o_d_hour_count'] = queries_df['o_d_hour'].map(queries_df['o_d_hour'].value_counts())

In [16]:
queries_df['queries_distance'].round(1).value_counts()

0.1    221800
0.0    182633
0.2    107772
0.3     48089
0.4     18036
0.5      7223
0.6      5132
0.7      1845
0.8       855
0.9       371
1.1       257
1.0       180
1.2       129
1.3        14
1.4        14
1.6         3
1.8         2
1.5         2
1.9         1
Name: queries_distance, dtype: int64

In [21]:
queries_df['o_round'] = queries_df['x_o'].round(1).astype(str)+'_'+queries_df['y_o'].round(1).astype(str)
queries_df['o_round'].value_counts()

116.4_39.9    153033
116.4_40.0     67732
116.3_40.0     62731
116.3_39.9     56397
116.5_39.9     40647
116.5_40.0     21460
116.4_39.8     21083
116.3_39.8     17732
116.6_39.9     17153
116.3_40.1     15101
116.4_40.1     12414
116.2_39.9     11474
116.6_40.1     10081
116.5_39.8      9696
116.2_40.2      6967
116.7_39.9      6353
116.3_39.7      6080
116.3_40.2      5785
116.6_40.0      5474
116.2_40.0      4983
116.2_39.8      4042
116.6_39.8      3931
116.2_40.1      3718
116.2_39.7      2897
116.1_39.7      2574
116.5_40.1      1563
116.7_40.1      1498
116.1_39.9      1374
116.6_40.2      1269
116.7_40.0      1065
               ...
116.7_40.7         3
116.9_40.6         3
116.9_40.0         3
116.5_40.5         3
116.3_40.6         3
115.6_39.8         3
116.4_40.3         3
115.8_40.3         2
115.7_40.1         2
116.4_40.7         2
115.5_39.8         2
116.6_40.5         2
115.9_40.1         2
116.5_40.7         2
117.2_40.3         2
116.6_40.8         1
115.7_39.8         1
115.6_39.9         1
116.6_41.0         1
115.8_40.4         1
115.8_40.1         1
116.7_40.9         1
116.2_39.5         1
116.5_39.5         1
115.5_39.9         1
116.3_40.7         1
115.8_39.8         1
116.4_40.6         1
116.6_40.9         1
115.7_39.7         1
Name: o_round, Length: 173, dtype: int64

In [20]:
queries_df['y_o'].round(1).value_counts()

39.9    286728
40.0    164069
39.8     58146
40.1     45863
40.2     17551
39.7     14988
40.4      2456
39.6      1846
40.3      1708
39.5       398
40.5       395
40.6       152
40.7        42
41.0         9
40.8         5
40.9         2
Name: y_o, dtype: int64

In [10]:
plans_df

,sid,plan_0_distance,plan_1_distance,plan_2_distance,plan_3_distance,plan_4_distance,plan_5_distance,plan_6_distance,plan_0_price,plan_1_price,...,plan_6_transport_mode,plan_time,click_mode,plan_0_distance_rank,plan_1_distance_rank,plan_2_distance_rank,plan_3_distance_rank,plan_4_distance_rank,plan_5_distance_rank,plan_6_distance_rank
0,1709112,32303,33678.0,33678.0,32099.0,30446.0,NaN,NaN,600,0.0,...,NaN,2018-11-04 11:45:04,9.0,3.0,4.5,4.5,2.0,1.0,NaN,NaN
1,3327773,3427,3251.0,3251.0,3227.0,3227.0,NaN,NaN,300,0.0,...,NaN,2018-10-16 19:09:29,2.0,5.0,3.5,3.5,1.5,1.5,NaN,NaN
2,3285959,36234,29545.0,29545.0,33295.0,NaN,NaN,NaN,1100,0.0,...,NaN,2018-11-25 15:05:22,7.0,4.0,1.5,1.5,3.0,NaN,NaN,NaN
3,1616170,11450,9100.0,10870.0,10870.0,11722.0,NaN,NaN,400,0.0,...,NaN,2018-10-03 14:42:40,2.0,4.0,1.0,2.5,2.5,5.0,NaN,NaN
4,351369,18495,19111.0,19111.0,17117.0,NaN,NaN,NaN,600,0.0,...,NaN,2018-10-05 19:52:37,4.0,2.0,3.5,3.5,1.0,NaN,NaN,NaN
5,749203,32486,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,...,NaN,2018-10-01 07:03:52,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
6,3005789,4935,4434.0,4434.0,4228.0,3711.0,NaN,NaN,300,0.0,...,NaN,2018-10-22 11:45:20,4.0,5.0,3.5,3.5,2.0,1.0,NaN,NaN
7,1897386,22103,18601.0,18601.0,24067.0,19733.0,NaN,NaN,500,0.0,...,NaN,2018-11-13 18:51:27,2.0,4.0,1.5,1.5,5.0,3.0,NaN,NaN
8,845203,12422,12548.0,12548.0,12542.0,8641.0,13657.0,NaN,400,0.0,...,NaN,2018-11-26 12:43:56,2.0,2.0,4.5,4.5,3.0,1.0,6.0,NaN
9,536341,2162,2647.0,2176.0,2647.0,2176.0,NaN,NaN,200,0.0,...,NaN,2018-11-23 19:34:38,1.0,1.0,4.5,2.5,4.5,2.5,NaN,NaN
10,2015965,30788,28900.0,28900.0,30866.0,35799.0,NaN,NaN,600,0.0,...,NaN,2018-10-14 08:05:50,2.0,3.0,1.5,1.5,4.0,5.0,NaN,NaN
11,2398670,8693,7940.0,8727.0,7288.0,7940.0,8019.0,NaN,400,0.0,...,NaN,2018-11-14 15:43:32,2.0,5.0,2.5,6.0,1.0,2.5,4.0,NaN
12,1944449,27279,26468.0,NaN,NaN,NaN,NaN,NaN,800,700.0,...,NaN,2018-10-11 16:29:29,7.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN
13,2985086,1833,1874.0,2863.0,2863.0,2940.0,1837.0,NaN,0,0.0,...,NaN,2018-11-02 16:23:33,6.0,1.0,3.0,4.5,4.5,6.0,2.0,NaN
14,593793,3522,5156.0,4309.0,5156.0,3850.0,3355.0,NaN,200,0.0,...,NaN,2018-11-11 11:13:56,1.0,2.0,5.5,4.0,5.5,3.0,1.0,NaN
15,862480,23792,25578.0,25578.0,23273.0,23215.0,NaN,NaN,600,0.0,...,NaN,2018-11-26 10:38:04,7.0,3.0,4.5,4.5,2.0,1.0,NaN,NaN
16,476608,36450,38116.0,38116.0,36559.0,NaN,NaN,NaN,700,0.0,...,NaN,2018-11-09 11:32:28,2.0,1.0,3.5,3.5,2.0,NaN,NaN,NaN
17,953020,2081,2081.0,2106.0,3550.0,2106.0,NaN,NaN,0,1300.0,...,NaN,2018-10-24 22:12:34,6.0,1.5,1.5,3.5,5.0,3.5,NaN,NaN
18,2467443,9583,9583.0,12147.0,8663.0,12106.0,12440.0,NaN,3500,0.0,...,NaN,2018-11-30 22:42:04,0.0,2.5,2.5,5.0,1.0,4.0,6.0,NaN
19,3331590,14001,10410.0,10410.0,14160.0,10869.0,NaN,NaN,400,0.0,...,NaN,2018-10-16 09:58:44,2.0,4.0,1.5,1.5,5.0,3.0,NaN,NaN
20,1683338,23516,22879.0,NaN,NaN,NaN,NaN,NaN,900,500.0,...,NaN,2018-10-23 10:59:04,1.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN
21,750368,2097,2038.0,2091.0,2091.0,2236.0,2155.0,NaN,300,0.0,...,NaN,2018-10-01 12:27:32,0.0,4.0,1.0,2.5,2.5,6.0,5.0,NaN
22,3383023,21273,20793.0,NaN,NaN,NaN,NaN,NaN,700,700.0,...,NaN,2018-11-24 10:36:28,7.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN
23,1622080,22808,19824.0,19824.0,26065.0,18811.0,NaN,NaN,500,0.0,...,NaN,2018-10-03 10:54:48,9.0,4.0,2.5,2.5,5.0,1.0,NaN,NaN
24,1519321,11638,12922.0,12121.0,12922.0,NaN,NaN,NaN,400,0.0,...,NaN,2018-11-28 14:29:17,2.0,1.0,3.5,2.0,3.5,NaN,NaN,NaN
25,2797066,75,75.0,77.0,NaN,NaN,NaN,NaN,0,0.0,...,NaN,2018-10-30 16:19:16,5.0,1.5,1.5,3.0,NaN,NaN,NaN,NaN
26,846664,870,965.0,916.0,1017.0,920.0,NaN,NaN,0,0.0,...,NaN,2018-11-26 17:12:56,5.0,1.0,4.0,2.0,5.0,3.0,NaN,NaN
27,757951,1354,1329.0,3997.0,3997.0,2237.0,4461.0,NaN,0,0.0,...,NaN,2018-10-01 20:46:13,5.0,2.0,1.0,4.5,4.5,3.0,6.0,NaN
28,16049,18756,19514.0,19514.0,18831.0,19669.0,19615.0,NaN,500,0.0,...,NaN,2018-11-10 18:23:53,10.0,1.0,3.5,3.5,2.0,6.0,5.0,NaN
29,1514541,32081,29864.0,29864.0,29813.0,32081.0,NaN,NaN,600,0.0,...,NaN,2018-11-28 16:19:50,2.0,4.5,2.5,2.5,1.0,4.5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583595,1113664,360,518.0,1401.0,NaN,NaN,NaN,NaN,0,0.0,...,NaN,2018-12-05 16:13:04,NaN,1.0,2.0,3.0,NaN,NaN,NaN,NaN
583596,1385472,14406,16747.0,16747.0,NaN,NaN,NaN,NaN,500,0.0,...,NaN,2018-12-03 10:56:44,NaN,1.0,2.5,2.5,NaN,NaN,NaN,NaN
583597,2039763,3186,3190.0,3190.0,3090.0,3251.0,3081.0,NaN,200,0.0,...,NaN,2018-12-07 09:21:00,NaN,3.0,4.5,4.5,2.0,6.0,1.0,NaN
583598,1113881,218,7.0,218.0,NaN,NaN,NaN,NaN,0,0.0,...,NaN,2018-12-05 14:05:47,NaN,2.5,1.0,2.5,NaN,NaN,NaN,NaN
583599,1247056,57017,48808.0,48808.0,55902.0,55876.0,NaN,NaN,1100,0.0,...,NaN,2018-12-02 14:43:07,NaN,5.0,1.5,1.5,4.0,3.0,NaN,NaN
583600,435850,27255,25452.0,25452.0,NaN,NaN,NaN,NaN,600,0.0,...,NaN,2018-12-01 20:54:16,NaN,3.0,1.5,1.5,NaN,NaN,NaN,NaN
583601,1243853,27716,36182.0,36182.0,28269.0,NaN,NaN,NaN,700,0.0,...,NaN,2018-12-02 13:52:05,NaN,1.0,3.5,3.5,2.0,NaN,NaN,NaN
583602,1284008,5269,3767.0,3767.0,4178.0,4599.0,3826.0,NaN,500,0.0,...,NaN,2018-12-02 14:52:41,NaN,6.0,1.5,1.5,4.0,5.0,3.0,NaN
583603,1122761,19979,19979.0,21322.0,NaN,NaN,NaN,NaN,0,6400.0,...,NaN,2018-12-05 22:30:45,NaN,1.5,1.5,3.0,NaN,NaN,NaN,NaN
583604,435605,504,504.0,3440.0,NaN,NaN,NaN,NaN,0,0.0,...,NaN,2018-12-01 15:16:38,NaN,1.5,1.5,3.0,NaN,NaN,NaN,NaN
583605,1138104,4871,4294.0,5049.0,5377.0,5377.0,4058.0,NaN,300,0.0,...,NaN,2018-12-05 19:21:27,NaN,3.0,2.0,4.0,5.5,5.5,1.0,NaN
583606,2050094,30264,26743.0,26743.0,30569.0,NaN,NaN,NaN,700,0.0,...,NaN,2018-12-07 14:18:53,NaN,3.0,1.5,1.5,4.0,NaN,NaN,NaN
583607,1379811,25259,25259.0,30241.0,40738.0,28788.0,NaN,NaN,0,8000.0,...,NaN,2018-12-03 05:07:43,NaN,1.5,1.5,4.0,5.0,3.0,NaN,NaN
583608,426643,10009,10666.0,10666.0,9465.0,10164.0,NaN,NaN,400,0.0,...,NaN,2018-12-01 12:53:59,NaN,2.0,4.5,4.5,1.0,3.0,NaN,NaN
583609,1442654,12141,11440.0,9149.0,11440.0,17763.0,11506.0,NaN,600,0.0,...,NaN,2018-12-06 13:23:02,NaN,5.0,2.5,1.0,2.5,6.0,4.0,NaN
583610,461958,32440,27371.0,27371.0,NaN,NaN,NaN,NaN,1000,0.0,...,NaN,2018-12-01 16:29:28,NaN,3.0,1.5,1.5,NaN,NaN,NaN,NaN
583611,1401514,10810,7520.0,7520.0,7007.0,10049.0,7734.0,NaN,600,0.0,...,NaN,2018-12-03 19:37:03,NaN,6.0,2.5,2.5,1.0,5.0,4.0,NaN
583612,443342,26191,24556.0,24556.0,27363.0,NaN,NaN,NaN,600,0.0,...,NaN,2018-12-01 13:55:48,NaN,3.0,1.5,1.5,4.0,NaN,NaN,NaN
583613,1243121,31147,30128.0,30128.0,NaN,NaN,NaN,NaN,700,0.0,...,NaN,2018-12-02 10:52:26,NaN,3.0,1.5,1.5,NaN,NaN,NaN,NaN
583614,1142831,2918,2146.0,2896.0,2896.0,2094.0,NaN,NaN,300,0.0,...,NaN,2018-12-05 07:25:32,NaN,5.0,2.0,3.5,3.5,1.0,NaN,NaN
583615,1282762,9000,8267.0,8267.0,9249.0,NaN,NaN,NaN,400,0.0,...,NaN,2018-12-02 15:39:15,NaN,3.0,1.5,1.5,4.0,NaN,NaN,NaN
583616,1361094,5219,4854.0,4854.0,4779.0,4945.0,4762.0,NaN,300,0.0,...,NaN,2018-12-04 12:58:37,NaN,6.0,3.5,3.5,2.0,5.0,1.0,NaN
583617,466021,9701,9192.0,9192.0,8492.0,9905.0,9037.0,NaN,400,0.0,...,NaN,2018-12-01 12:26:46,NaN,5.0,3.5,3.5,1.0,6.0,2.0,NaN
583618,461498,484,595.0,530.0,NaN,NaN,NaN,NaN,0,0.0,...,NaN,2018-12-01 00:18:09,NaN,1.0,3.0,2.0,NaN,NaN,NaN,NaN
583619,1371504,25728,34807.0,34807.0,27843.0,33265.0,NaN,NaN,900,0.0,...,NaN,2018-12-03 11:52:21,NaN,1.0,4.5,4.5,2.0,3.0,NaN,NaN
583620,422062,34356,41553.0,41553.0,NaN,NaN,NaN,NaN,700,0.0,...,NaN,2018-12-01 17:02:08,NaN,1.0,2.5,2.5,NaN,NaN,NaN,NaN
583621,1401344,11508,11182.0,11182.0,12554.0,11117.0,NaN,NaN,500,0.0,...,NaN,2018-12-03 09:32:23,NaN,4.0,2.5,2.5,5.0,1.0,NaN,NaN
583622,454669,2829,2792.0,5524.0,5524.0,3058.0,2501.0,NaN,200,0.0,...,NaN,2018-12-01 10:29:29,NaN,3.0,2.0,5.5,5.5,4.0,1.0,NaN
583623,1436151,11118,9981.0,9981.0,NaN,NaN,NaN,NaN,400,0.0,...,NaN,2018-12-06 07:33:02,NaN,3.0,1.5,1.5,NaN,NaN,NaN,NaN
583624,1275559,24295,22912.0,22912.0,24520.0,28379.0,24277.0,NaN,700,0.0,...,NaN,2018-12-02 13:56:29,NaN,4.0,1.5,1.5,5.0,6.0,3.0,NaN