In [1]:
import gc
import json
import pandas as pd
import numpy as np
import seaborn as sns

from tqdm import tqdm_notebook
from glob import glob

from sklearn.decomposition import TruncatedSVD, NMF
from utils import loadpkl, to_json

%matplotlib inline

/home/fujiwara/.pyenv/versions/anaconda3-5.2.0/lib/python3.6/site-packages/requests/__init__.py:80: RequestsDependencyWarning: urllib3 (1.24.1) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)

In [10]:
# load feathers
files = sorted(glob('../features/*.feather'))
df = pd.concat([pd.read_feather(f) for f in tqdm_notebook(files, mininterval=60)], axis=1)

# split train & test
train_df = df[df['click_mode'].notnull()]
test_df = df[df['click_mode'].isnull()]

HBox(children=(IntProgress(value=0, max=639), HTML(value='')))

/home/fujiwara/.pyenv/versions/anaconda3-5.2.0/lib/python3.6/site-packages/pandas/io/feather_format.py:124: FutureWarning: `nthreads` argument is deprecated, pass `use_threads` instead
  nthreads=int_use_threads)
/home/fujiwara/.pyenv/versions/anaconda3-5.2.0/lib/python3.6/site-packages/pyarrow/pandas_compat.py:751: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels, = index.labels

In [2]:
# load pkls
df = loadpkl('../features/plans.pkl')
queries = loadpkl('../features/queries.pkl')
profiles = loadpkl('../features/profiles.pkl')
queries_pred = loadpkl('../features/queries_pred.pkl')
queries_profiles_pred = loadpkl('../features/queries_profiles_pred.pkl')
queries_plans_pred = loadpkl('../features/queries_plans_pred.pkl')

In [5]:
# merge
df = pd.merge(df, queries, on=['sid','click_mode'], how='left')
df = pd.merge(df, profiles, on='pid', how='left')
df = pd.merge(df, queries_pred, on='sid', how='left')
df = pd.merge(df, queries_profiles_pred, on='sid', how='left')
df = pd.merge(df, queries_plans_pred, on='sid', how='left')

del queries, profiles, queries_pred, queries_profiles_pred, queries_plans_pred
gc.collect()

95

In [2]:
# load csv & pkl
profiles = pd.read_csv('../input/data_set_phase1/profiles.csv')
queries = loadpkl('../features/queries.pkl')

In [3]:
queries

,sid,pid,req_time,click_mode,x_o,y_o,x_d,y_d,queries_o_count,queries_d_count,...,y_d_round,queries_distance_round,queries_x_o_round_count,queries_y_o_round_count,queries_x_d_round_count,queries_y_d_round_count,queries_distance_round_count,queries_o_round_count,queries_d_round_count,queries_o_d_round_count
0,3000821,NaN,2018-11-02 17:54:30,9.0,116.29,39.97,116.32,39.96,1101,1046,...,0,0,164614,164069,155404,159182,182633,62731,59707,21179
1,3085857,210736.0,2018-11-16 10:53:10,1.0,116.39,39.84,116.33,39.79,695,185,...,1,1,256534,58146,155404,49705,221800,21083,14701,1132
2,2944522,NaN,2018-10-06 10:33:58,9.0,116.31,39.93,116.27,40.00,635,4633,...,0,1,164614,286728,155404,159182,221800,56397,59707,5179
3,559931,202427.0,2018-11-23 14:54:11,1.0,116.27,39.88,116.39,39.90,363,8756,...,2,1,164614,286728,261821,301446,221800,56397,173233,15457
4,2819352,172251.0,2018-10-30 11:48:41,7.0,116.34,39.96,116.37,39.86,1166,15545,...,2,1,164614,164069,261821,301446,221800,62731,173233,12497
5,2754575,135606.0,2018-10-18 07:37:32,1.0,116.54,39.73,116.48,39.76,55,75,...,1,1,74642,14988,73005,49705,221800,518,8608,58
6,2224795,189023.0,2018-11-20 14:34:03,1.0,116.34,39.73,116.79,40.35,312,12,...,3,2,164614,14988,1758,7849,855,6080,608,4
7,1598541,156954.0,2018-10-03 09:19:47,1.0,116.26,40.22,116.24,40.22,350,745,...,4,0,164614,17551,35696,15532,182633,5785,7110,649
8,676316,135045.0,2018-11-15 15:25:52,5.0,116.39,39.91,116.39,39.90,3473,8756,...,2,0,256534,286728,261821,301446,182633,153033,173233,74967
9,1068802,176605.0,2018-11-08 23:13:57,3.0,116.29,40.02,116.27,39.95,114,513,...,0,1,164614,164069,155404,159182,221800,62731,59707,21179
10,1677052,NaN,2018-10-23 01:02:45,1.0,116.43,39.95,116.37,39.86,517,15545,...,2,1,256534,164069,261821,301446,221800,67732,173233,16828
11,1601021,207329.0,2018-10-03 16:07:03,1.0,116.45,39.93,116.42,39.93,2889,722,...,2,0,256534,286728,261821,301446,182633,153033,173233,74967
12,986743,NaN,2018-11-12 13:52:31,9.0,116.32,39.98,116.58,39.91,1073,564,...,2,3,164614,164069,40650,301446,48089,62731,13497,616
13,1562328,215847.0,2018-10-03 10:00:54,1.0,116.40,39.92,116.40,39.91,1348,3676,...,2,0,256534,286728,261821,301446,182633,153033,173233,74967
14,184189,NaN,2018-10-20 12:52:07,1.0,116.31,40.03,116.33,40.01,1219,160,...,0,0,164614,164069,155404,159182,182633,62731,59707,21179
15,3292454,NaN,2018-10-16 09:06:07,1.0,116.30,39.94,116.27,39.96,860,382,...,0,0,164614,286728,155404,159182,182633,56397,59707,5179
16,1808923,207363.0,2018-11-29 13:20:55,2.0,116.21,40.24,116.47,39.89,206,1536,...,2,4,34424,17551,73005,301446,18036,6967,37517,236
17,3000955,144649.0,2018-11-02 09:38:26,5.0,116.34,39.87,116.33,39.87,341,102,...,2,0,164614,286728,155404,301446,182633,56397,60396,14215
18,694129,116986.0,2018-11-15 13:58:26,9.0,116.41,39.94,116.50,39.93,1705,332,...,2,1,256534,286728,73005,301446,221800,153033,37517,8250
19,409847,180421.0,2018-10-05 15:41:17,2.0,116.33,39.97,116.32,39.89,1262,19885,...,2,1,164614,164069,155404,301446,221800,62731,60396,5518
20,627704,NaN,2018-10-28 09:46:40,2.0,116.29,39.86,116.45,39.93,632,6359,...,2,5,164614,286728,261821,301446,107772,56397,173233,15457
21,307643,175212.0,2018-10-04 14:31:33,5.0,116.29,39.93,116.30,39.93,469,725,...,2,0,164614,286728,155404,301446,182633,56397,60396,14215
22,296598,112198.0,2018-10-04 21:22:51,7.0,116.50,39.87,116.50,39.80,369,485,...,1,1,74642,286728,73005,49705,221800,40647,8608,643
23,945674,135562.0,2018-10-24 14:09:41,9.0,116.34,39.84,116.32,39.90,370,855,...,2,1,164614,58146,155404,301446,221800,17732,60396,2063
24,547098,202757.0,2018-11-23 16:18:30,5.0,116.34,39.95,116.34,39.94,1226,909,...,2,0,164614,164069,155404,301446,182633,62731,60396,5518
25,165662,200008.0,2018-10-20 11:14:06,10.0,116.34,40.03,116.42,39.90,595,13545,...,2,5,164614,164069,261821,301446,107772,62731,173233,12497
26,1861826,112198.0,2018-11-03 13:54:48,2.0,116.35,40.00,116.43,39.94,1478,2776,...,2,1,256534,164069,261821,301446,221800,67732,173233,16828
27,2554010,211790.0,2018-11-19 17:38:56,0.0,116.34,39.85,116.33,39.84,202,185,...,1,0,164614,58146,155404,49705,182633,17732,14701,3734
28,3075509,116844.0,2018-11-16 13:09:35,3.0,116.30,39.99,116.31,39.99,955,991,...,0,0,164614,164069,155404,159182,182633,62731,59707,21179
29,1548874,NaN,2018-11-28 08:34:30,2.0,116.43,39.90,116.43,39.94,1003,2776,...,2,0,256534,286728,261821,301446,182633,153033,173233,74967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94328,1438839,NaN,2018-12-06 10:56:58,NaN,116.46,39.95,116.46,39.95,1137,1153,...,0,0,74642,164069,73005,159182,182633,21460,24137,5878
94329,1383602,NaN,2018-12-03 11:55:26,NaN,116.47,39.91,116.49,39.93,3119,169,...,2,0,74642,286728,73005,301446,182633,40647,37517,10441
94330,1341930,128738.0,2018-12-04 12:35:27,NaN,116.20,40.14,116.42,39.85,37,380,...,1,4,34424,45863,261821,49705,18036,3718,17742,78
94331,1266096,160797.0,2018-12-02 16:36:13,NaN,116.34,39.94,116.39,39.90,1018,8756,...,2,1,164614,286728,261821,301446,221800,56397,173233,15457
94332,1400423,NaN,2018-12-03 13:14:29,NaN,116.30,40.05,116.43,39.76,2735,61,...,1,3,164614,164069,261821,49705,48089,62731,17742,969
94333,2075141,109533.0,2018-12-07 09:01:33,NaN,116.42,39.88,116.34,39.82,699,512,...,1,1,256534,286728,155404,49705,221800,153033,14701,2505
94334,1391560,NaN,2018-12-03 17:25:14,NaN,116.34,39.89,116.28,39.92,443,686,...,2,1,164614,286728,155404,301446,221800,56397,60396,14215
94335,1406263,146526.0,2018-12-03 07:05:07,NaN,116.46,39.93,116.60,40.08,2159,3165,...,5,5,74642,286728,40650,43106,107772,40647,15962,851
94336,1249412,142281.0,2018-12-02 17:19:53,NaN,116.33,39.94,116.42,39.90,1684,13545,...,2,1,164614,286728,261821,301446,221800,56397,173233,15457
94337,461835,NaN,2018-12-01 20:51:06,NaN,116.42,39.90,116.36,39.88,6863,724,...,2,1,256534,286728,261821,301446,221800,153033,173233,74967
94338,459408,NaN,2018-12-01 10:25:44,NaN,116.10,39.90,116.37,39.86,68,15545,...,2,3,7202,286728,261821,301446,48089,1374,173233,202
94339,425789,NaN,2018-12-01 16:57:56,NaN,116.46,39.97,116.46,39.98,208,1578,...,0,0,74642,164069,73005,159182,182633,21460,24137,5878
94340,1357849,181772.0,2018-12-04 10:43:20,NaN,116.41,39.91,116.37,39.91,6596,7010,...,2,0,256534,286728,261821,301446,182633,153033,173233,74967
94341,430234,NaN,2018-12-01 17:12:40,NaN,116.29,39.88,116.30,39.88,347,1902,...,2,0,164614,286728,155404,301446,182633,56397,60396,14215
94342,1268545,NaN,2018-12-02 16:23:59,NaN,116.30,39.99,116.32,40.00,955,2129,...,0,0,164614,164069,155404,159182,182633,62731,59707,21179
94343,1414260,108949.0,2018-12-06 21:26:50,NaN,116.41,40.05,116.57,39.86,1033,50,...,2,5,256534,164069,40650,301446,107772,67732,13497,860
94344,1409037,156329.0,2018-12-03 08:28:29,NaN,116.56,40.06,116.35,39.87,127,557,...,2,3,39661,45863,261821,301446,48089,10081,173233,2287
94345,445690,NaN,2018-12-01 16:33:55,NaN,116.53,40.01,116.45,39.93,41,6359,...,2,1,74642,164069,261821,301446,221800,21460,173233,4283
94346,1124242,NaN,2018-12-05 10:38:31,NaN,116.52,40.01,116.29,39.83,116,430,...,1,3,74642,164069,155404,49705,48089,21460,14701,207
94347,428991,122204.0,2018-12-01 10:49:33,NaN,116.50,39.92,116.45,39.86,918,867,...,2,1,74642,286728,261821,301446,221800,40647,173233,10823
94348,1282823,186452.0,2018-12-02 15:11:00,NaN,116.47,39.92,116.37,39.86,1150,15545,...,2,1,74642,286728,261821,301446,221800,40647,173233,10823
94349,2067128,185363.0,2018-12-07 19:00:33,NaN,116.45,39.92,116.47,39.91,2619,2906,...,2,0,256534,286728,73005,301446,182633,153033,37517,8250
94350,1389810,NaN,2018-12-03 19:37:31,NaN,116.32,39.94,116.31,39.95,1767,1220,...,0,0,164614,286728,155404,159182,182633,56397,59707,5179
94351,1398208,116397.0,2018-12-03 16:05:23,NaN,116.43,39.91,116.37,39.86,1762,15545,...,2,1,256534,286728,261821,301446,221800,153033,173233,74967
94352,1338573,206991.0,2018-12-04 04:39:31,NaN,116.42,39.90,116.37,39.90,6863,896,...,2,0,256534,286728,261821,301446,182633,153033,173233,74967
94353,471555,NaN,2018-12-01 22:32:41,NaN,116.34,39.78,116.47,39.95,80,976,...,0,5,164614,58146,73005,159182,107772,17732,24137,343
94354,1123933,NaN,2018-12-05 17:44:49,NaN,116.34,39.71,116.34,39.78,41,51,...,1,1,164614,14988,155404,49705,221800,6080,14701,507
94355,1409146,162194.0,2018-12-03 12:02:04,NaN,116.25,39.92,116.29,39.91,269,546,...,2,0,34424,286728,155404,301446,182633,11474,60396,1473
94356,1338606,NaN,2018-12-04 22:34:20,NaN,116.41,40.06,116.33,39.96,709,576,...,0,1,256534,45863,155404,159182,221800,12414,59707,1183
94357,1353834,NaN,2018-12-04 11:31:05,NaN,116.41,39.92,116.36,39.88,3003,724,...,2,1,256534,286728,261821,301446,221800,153033,173233,74967